
.ball {
    position: relative;
    top: 150px;
    width: 150px;
    height: 150px;
    background: #f45e07;
    border-radius: 50%;
    animation-name: jump;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    margin: 100px auto;
    text-align: center;
}

.ball p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-family: 'Oswold', sans-serif
}

@keyframes jump {
    from {
        top: 0px;
    }
    
    to {
        top: 100px;
    }
}